{% load i18n simplemenu_tags plugin_utils static %}
<div class="box mb-0 context-container" id="context">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-start buttons are-small is-hidden-desktop mb-0 ml-4 is-align-items-center is-justify-content-space-between" style="height: 3rem;">
                <a class="button is-light is-small mb-0" href="/">
                    <i class="fas fa-home mr-3"></i>
                    {% trans "Home" %}
                </a>
                <a class="button is-light is-small mb-0" href="{% url "plugin_upload" %}">
                    <i class="fas fa-upload mr-3"></i>
                    {% trans "Upload a plugin" %}
                </a>

                {% if user.is_authenticated %}
                <a class="button is-warning is-small mb-0" href="{% url "logout" %}">
                    <span class="mr-2">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>
                        {% trans "Logout" %}
                    </span>
                </a>
                {% else %}
                <a class="button is-info is-small mb-0" href="{% url "login" %}">
                    <span class="mr-2">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span>
                        {% trans "Login" %}
                    </span>
                </a>
                {% endif %}
            </div>
            
            <div id="pluginsNavbar" class="navbar-menu">
                <div class="navbar-start">
                    {% get_navigation_menu user as menu %}
                    {% for item in menu %}
                        {% if item.submenu %}
                            <div class="navbar-item has-dropdown is-hoverable p-0">
                                <a class="navbar-link has-text-weight-semibold is-size-7">
                                    <span class="mr-2">
                                        <i class="fas {{ item.icon }}"></i>
                                    </span>
                                    <span>{{ item.name }}</span>
                                </a>
                                <div class="navbar-dropdown">
                                    {% for subitem in item.submenu %}
                                        {% if subitem.submenu %}
                                            {% for entry in subitem.submenu %}
                                                <a class="navbar-item has-text-weight-semibold is-size-7 ml-1 mr-1" href="{{ entry.url }}">
                                                    {{ entry.name }}
                                                </a>
                                            {% endfor %}
                                            {% if not forloop.last %}
                                                <hr class="navbar-divider">
                                            {% endif %}
                                        {% else %}
                                            <a class="navbar-item has-text-weight-semibold is-size-7 ml-1 mr-1" href="{{ subitem.url }}">
                                                <span class="mr-2">
                                                    <i class="fas {{ subitem.icon }}"></i>
                                                </span>
                                                <span>{{ subitem.name }}</span>
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            {% if item.name != 'Admin' %}
                                <a class="navbar-item has-text-weight-semibold is-size-7" href="{{ item.url }}">
                                    <span class="mr-2">
                                        <i class="fas {{ item.icon }}"></i>
                                    </span>
                                    <span>{{ item.name }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="control has-icons-right search-control">
                            <form action="{% url "haystack_search" %}" method="get" style="margin:0;">
                                <input class="input is-small"  id="id_q" name="q" type="text" placeholder="Search">
                                <span class="icon is-right"><i class="fa-solid fa-magnifying-glass"></i></span>
                            </form>
                        </div>
                    </div>
                    <div class="navbar-item pl-0">
                        {% if user.is_authenticated %}
                        <a class="button is-warning is-small" href="{% url "logout" %}">
                            <span class="mr-2">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>
                                {% trans "Logout" %}
                            </span>
                        </a>
                        {% else %}
                        <a class="button is-info is-small" href="{% url "login" %}">
                            <span class="mr-2">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>
                                {% trans "Login" %}
                            </span>
                        </a>
                        {% endif %}
                        {% block navigation_extra %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>