{% extends "base.html" %}
{% load i18n static %}

{% block pagetitle %}
<section class="hero is-dark is-medium has-bg-img" style="background: url({% static 'images/hegobg1.webp' %});
background-position: 50%;
background-size: cover;">
  <div class="hero-body" style="min-height: 100dvh; display: flex; align-items: center;">
    <div class="columns is-vcentered is-centered" style="width: 100%;">
      <div class="column is-5-tablet is-4-desktop p-0">
        <div class="login-container p-6 has-text-centered">
          <span class="icon is-large has-text-danger mb-3" style="font-size: 3rem;">
            <i class="fas fa-times-circle"></i>
          </span>
          <h3 class="title">{% trans "Social Login Error" %}</h3>
          <hr class="login-hr" />
          {% if exception %}
          <div class="notification is-danger is-light mb-4">
            <p>{{ exception }}</p>
          </div>
          {% else %}
          <p class="subtitle">
            {% trans "An error occurred during social login. Please try again." %}
          </p>
          {% endif %}
          <a href="{% url 'account_login' %}" class="button is-success is-medium">
            <span class="icon"><i class="fas fa-arrow-left"></i></span>
            <span>{% trans "Back to Login" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
