{% extends 'base.html' %}
{% load i18n plugin_utils%}

{% block menu %}
{{ block.super }}
    {% include "plugins/plugin_sidebar.html" %}
{% endblock %}

{% block content %}
    {% if query %}
        <h2>Search results for "{{query}}" ({{paginator.count}} items found)</h2>

        <div id="grid-view" class="columns is-multiline plugins-list-grid">
            {% for result in page.object_list %}
                {% with object=result.object %}
                    {% include "plugins/plugin_list_grid_card.html" %}
                {% endwith %}
            {% empty %}
            <div class="notification">
                <i class="fas fa-info mr-3"></i>
                {% trans "No results found." %}
            </div>
            {% endfor %}
        </div>

        {% if page.has_previous or page.has_next %}
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    <li class="m-0">
                        <a class="pagination-link" href="?q={{ query }}&amp;page=1" aria-label="Goto page 1" {% if not page.has_previous %}disabled{% endif %}>
                            <span class="icon"><i class="fas fa-angle-double-left"></i></span> First
                        </a>
                    </li>
                    <li class="m-0">
                        <a class="pagination-previous" href="?q={{ query }}&amp;{% if page.has_previous %}page={{ page.previous_page_number }}{% endif %}" {% if not page.has_previous %}disabled{% endif %}>
                            <span class="icon"><i class="fas fa-angle-left"></i></span> Previous
                        </a>
                    </li>
                    <li class="m-0">
                        <a class="pagination-link is-current" aria-label="Page {{ page.number }}" aria-current="page">
                            Page {{ page.number }} of {{ paginator.num_pages }}
                        </a>
                    </li>
                    <li class="m-0">
                        <a class="pagination-next" href="?q={{ query }}&amp;{% if page.has_next %}page={{ page.next_page_number }}{% endif %}" {% if not page.has_next %}disabled{% endif %}>
                            Next page <span class="icon"><i class="fas fa-angle-right"></i></span>
                        </a>
                    </li>
                    <li class="m-0">
                        <a class="pagination-link" href="?q={{ query }}&amp;{% if page.has_next %}page={{ paginator.num_pages }}{% endif %}" aria-label="Goto page {{ paginator.num_pages }}" {% if not page.has_next %}disabled{% endif %}>
                            Last <span class="icon"><i class="fas fa-angle-double-right"></i></span>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
