{% extends "base.html" %}
{% load i18n static %}

{% block pagetitle %}
<section class="hero is-dark is-medium has-bg-img" style="background: url({% static 'images/hegobg1.webp' %});
background-position: 50%;
background-size: cover;">
  <div class="hero-body" style="min-height: 100dvh; display: flex; align-items: center;">
    <div class="columns is-vcentered is-centered" style="width: 100%;">
      <div class="column is-5-tablet is-4-desktop p-0">
        <div class="login-container p-6 has-text-centered">
          <h3 class="title">{% trans "Registration is not available here" %}</h3>
          <hr class="login-hr" />
          <p class="subtitle">
            {% trans "Please use one of the sign-in options below." %}
          </p>
          <div class="buttons is-centered">
            <a href="{% url 'account_login' %}" class="button is-success is-medium">
              <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
              <span>{% trans "Sign In" %}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
