{% extends 'flatpages/docs.html' %}

{% block content %}
<div class="responsive-content">
  <h4>Plugin approval process</h4>
  <p>
    The approval of plugins is primarily carried out by contributors. Currently,
    the primary contributor is Admire Nyakudya (<a href="mailto:addloe@gmail.com">addloe@gmail.com</a>). Do not
    hesitate to get in touch with him if you have any questions about the plugin
    approval process.
  </p>
  <p>The approval process involves the following steps.</p>
  <h5>New Plugins</h5>
  <p>All new plugins follow the rough guidelines outlined below:</p>
  <ul>
    <li>
      Plugin metadata.txt should be properly populated with working links i.e.:
      <ul>
        <li>
          Plugin home page - This link should direct users to a page on a
          website that describes the plugin functionality. If you do not have a
          dedicated page on your website that describes plugin usage, please use
          the README in the repository or use the code repository as the link.
          Any other links will result in the plugin being rejected.
        </li>
        <li>
          Tracker - This should link to the issue tracker in your code
          repository.
        </li>
        <li>
          Code repository - This should link to the code repository. It is
          expected that the code in the repository is accessible and not a zip
          file. The repository should also be publicly accessible. Plugins that
          utilize binaries will not be approved. If you feel that there is no
          way to provide your plugin without binaries, please reach out to the
          QGIS Developers mailing list to motivate your case or the QGIS PSC for
          further discussions.
        </li>
      </ul>
    </li>
  </ul>
  <p class="alert alert-info">
    <strong>Note:</strong> Plugins cover a whole range of domains which the person doing the
    approval might not be versed with. With such an expectation, we will try to
    do random tests (random plugins will be selected) to see if the plugin
    installs and runs without crashing QGIS. We also expect plugins to be
    cross-platform, working on Unix systems and Windows. In the list of
    published plugins, we have a diverse range of plugins offering different
    functionality. We encourage plugin developers to collaborate on plugins
    offering the same functionality as developing plugins with functionality
    that is almost similar. If you need to enhance a particular plugin, we are
    able to facilitate this with an existing author. For issues relating to the
    transfer of ownership, or updating any other metadata about existing
    plugins, please do not hesitate to contact us through the QGIS Developer
    mailing lists.
  </p>
  <h5>Existing Plugins (New updates)</h5>
  <p>
    These are plugins that are already in use and being enhanced by new versions
    being uploaded. During the approval process, we expect the following:
  </p>
  <ul>
    <li>
      Properly update metadata to include a changelog. This will be beneficial
      for users to understand what has changed between versions.
    </li>
    <li>Properly annotate versions with new version numbers.</li>
    <li>
      We will also check the metadata.txt links i.e. plugin homepage, tracker,
      etc. to see if they are still working.
    </li>
  </ul>
  <p class="alert alert-info">
    <strong>Note:</strong> Testing will also be done randomly to see if the plugin still works
    and does not crash QGIS.
  </p>
  <p>
    We try to publish/approve plugins daily with the exception of weekends. If
    you have uploaded a plugin on Friday-Sunday, it will most likely be approved
    on Monday. During extended holiday periods, the timelines might be even
    longer. We also take into consideration that contributors live in different
    parts of the world with different public holidays. This might also impact
    the timelines for approval.
  </p>
  <div
    id="_mcePaste"
    class="mcePaste"
    style="
      position: absolute;
      left: -10000px;
      top: 187px;
      width: 1px;
      height: 1px;
      overflow: hidden;
    "
  >
    <p style="text-indent: 0px; margin: 0px">dai nomi dei campi)</p>
    <!-- p, li { white-space: pre-wrap; } -->
  </div>
</div>
{% endblock %}
