<p class="is-size-5">
  Click <a title="Plugin repository" href="/plugins/">here</a> to access plugins
  ready to be used. These plugins can also be installed directly from the
  <strong>QGIS Plugin Manager</strong> within the QGIS application.
</p>

<div class="container rich mb-3">
  <div class="cont coloring-1">
    <h3>Notes for plugin users</h3>
    <ul>
      <li>
        Plugins are developed by independent organizations and developers, the
        QGIS organization does not take any responsibility for them.
      </li>
      <li>
        Bugs or feature requests relating to plugins that are published here
        must be opened in their respective bug tracking systems. A plugin's bug
        tracking system can be found on the information page for that plugin.
      </li>
      <li>
        If no information is available, please report it to the
        <a
          href="https://lists.osgeo.org/mailman/listinfo/qgis-developer"
          target="_blank"
          >Developer mailing-list</a
        >.
      </li>
    </ul>
  </div>
</div>

<div class="container rich">
  <div class="cont coloring-1">
    <h3>Resources for plugin authors</h3>
    <ul>
      <li>
        The&nbsp;<a
          href="https://docs.qgis.org/latest/en/docs/pyqgis_developer_cookbook"
          target="_blank"
          >pyQGIS cookbook</a
        >
        contains a section on developing plugins and is an ongoing effort to
        collect tips and tricks about QGIS python programming generaly.
      </li>
      <li>
        The <a href="https://www.qgis.org/pyqgis/" target="_blank">QGIS Python API</a> and the
        <a href="https://www.qgis.org/api/" target="_blank">QGIS C++ API</a> are the ultimate
        references for plugins creators.
      </li>
      <li>
        Please consider adding your code as a subplugin of Processing, rather
        than as a separate plugin: you save coding, and the users have more
        consistent and powerful tools, that can be integrated in a model, run in
        batch, and more
      </li>
      <li>
        Visit the documentation to learn:
        <ul>
          <li>
            How to <a href="/docs/publish">publish your plugins</a> on the
            repository.
          </li>
          <li>
            How to <a href="/docs/approval">get your plugin approved</a> for
            publication.
          </li>
          <li>
            How to rename an existing plugin in the <a href="/docs/faq">FAQ</a> section.
          </li>
        </ul>
  </div>
</div>
