# Host for sending e-mail.
EMAIL_HOST = "smtp.gmail.com"
# Port for sending e-mail.
EMAIL_PORT = 587
# SMTP authentication information for EMAIL_HOST.
# See fig.yml for where these are defined
EMAIL_HOST_USER = "automation@qgis.org"
EMAIL_HOST_PASSWORD = "hello_password"
EMAIL_USE_TLS = True
