{% load i18n simplemenu_tags static %}
{% load plugin_utils %}
{% load matomo_tags %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'main' %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <title>{% block title %}QGIS {% block extratitle %}Plugins{% endblock %}{% endblock %}</title>
  <meta name="AUTHOR" content="QGIS Web Team" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% block open_graph %}
        <!-- Open Graph tags, it will directly use the fallback if the image is not defined here -->
    {% endblock %}

    <!-- Open Graph image fallback if the one in the block open_graph is failing or doesn't exist -->
    <meta property="og:image" content="https://{{ request.get_host }}{% static 'images/qgis-icon128.png' %}">

    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.min.css' %}" type="text/css">
    {% block extracss %}{% endblock %}

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}"/>
    <script type="text/javascript" src="{% static "js/bulma.js" %}"></script>

    <!-- Cookie disclaimer -->
    <script type="text/javascript" id="cookieinfo" src="{% static 'js/cookieinfo/cookieinfo.min.js' %}" data-bg="#1c2028"
            data-fg="#FFFFFF" data-link="#22961c" data-cookie="CookieInfoScript" data-text-align="left"
            data-message="We use functional cookies to enhance your experience.
            We do not use any ad tracking or targeting cookies.
            By continuing to visit this site you agree to our use of cookies."
            data-close-text="Got it!">
    </script>

    <script type="module" src="https://qgis.github.io/qgis-uni-navigation/index.js"></script>

    {% block extrajs %}{% endblock %}

</head>
<body{% block onload %}{% endblock %}>
    {% get_site_url as site_url %}
    {% get_navigation_config_url as navigation_config_url %}
    <qg-top-nav
        breakpoint="1024"
        class="is-highest navbar is-fixed-top"
        location-prefix="https://qgis.org"
        second-menu-prefix="{{ site_url }}"
        secondary-menu-config="{{ navigation_config_url }}"
    ></qg-top-nav>
    {% include 'layouts/header.html' %}
    {% block pagetitle %}{% endblock %}
    <section class="section" style="margin-top: 5rem;">
        <div class="container content">
            <div class="columns is-multiline is-centered">
                <div class="column is-3">
                    {% block leftbar %}
                        {% block menu %}&nbsp;{% endblock %}
                    {% endblock %}
                </div>
                <div class="content column is-9">
                    {% if messages %}
                    {% for message in messages %}
                        <div class="notification is-light {% if message.tags %} {{ message.tags }}{% endif %}">
                            <button class="delete"></button>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </section>
    
    {% get_sustaining_members_section as sustaining_members_section %}
    {{ sustaining_members_section|safe }}
    {% include 'layouts/footer.html' %}
    {% include "plugins/plugin_tags_modal.html" %}

<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/local_timezone-1.0.js' %}"></script>
<style>
    @media (max-width: 979px) {
        .nav-collapse, .nav-collapse.collapse {
            height: auto;
        }

        .nav-collapse .nav>li {
            float: none !important;
        }

        .nav-collapse .nav>li>ul {
            display:block;
        }

        .responsive-content {
            max-width: 100dvw;
            overflow: auto;
        }

    }
    @media (max-width: 500px){
        #page_bg {
            width: auto;
        }
    }
</style>
{% tracking_code %}
</body>
</html>
